@font-face {
    font-family: aprentas;
    src: url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Lato&family=Roboto&display=swap');
}

html {
    grid-template-columns: 
    "nav haeder"
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    
}

body {
    font-family: aprentas;
    
}