@font-face {
    font-family: aprentas;
    src: url('MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf');
}











.div1{
    background-color: darkgrey;
    font-family: aprentas;
   
}

.titel {
    text-align: center;
}