@font-face {
    font-family: aprentas;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

html {
    grid-template-columns: 
    "nav header"
    "main main"
    "footer footer";
    grid-template-columns: 50% 50%;
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    
}

body {
    font-family: aprentas;
    background-color: black;
    color: white;
    user-zoom: none;
}

h1 {
    user-select: none;
}