@font-face {
    font-family: aprentas;
    src: url('MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf');
}

html {
    grid-template-areas: 
    "nav header"
    "main main"
    "footer footer";
    grid-template-columns: 20% 80%;
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;

}

nav {
    grid-area: nav;
}

body {
    font-family: aprentas;
    background-color:black;
    color: white;
    user-zoom: none;
    transition: background-color 0.5s, color 0.5s; 
    font-family: aprentas, sans-serif;
}

h1 {
    user-select: none;
}

.aprentaslogo {
    opacity: 0.7;
    transition: ease-out 0.4s;
}

.aprentaslogo:hover {
    opacity: 1;
    transition: ease-in 0.4s;
}


nav {
    
}

.sidebar {
    align-items: left;
    grid-area: nav;
    width: 12%;
    height: 87%;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
  }

  .sidebar:hover {
    width: 85%;
  }

  .sidebar ul {
    position: relative;
    height: 100%;
  }

  .sidebar ul li {
    list-style: none;
  }
.sidebar ul li:hover {
    background: #f3f3f3;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #333;
}

.sidebar ul li a .text {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.dark-mode {
    background-color: #a7a4a4;
    color: #fff;
    transition: ease-in 1s;
}
