@font-face {
    font-family: aprentas;
    src: url('MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf');
}

html {
    grid-template-areas: 
    "nav header"
    "main main"
    "footer footer";
    grid-template-columns: 20% 80%;
    height: 100%;
    width: 100%;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

body {
    font-family: aprentas;
    background-color: black;
    color: white;
    user-zoom: none;
}

h1 {
    user-select: none;
}